.style-card {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 13px;
}

/* TO CORRECT */
.header {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.filters {
  margin-right: 15px;
  width: 10rem;
}

#language, #title {
  width: 10rem;
}

